@import './base.css';


a{
    all: unset;
}

h1{
    color: var(--color-heading);
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}

@media (min-width: 1080px) {

    h1{
        font-size: 2.5rem;
    }
}