@import './base.css';


#app{
    padding-left: 10px;
    padding-right: 10px;
}

a{
    all: unset;
}

h1{
    color: var(--color-heading);
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}

@media (min-width: 1080px) {
    #app{
        padding-left: 100px;
        padding-right: 100px;
    }

    h1{
        font-size: 2.5rem;
    }
}